* {
    margin: 0;
    border-style: hidden;
}




.fondo {
    height: 100vh;
    background-color: blue;
    display: block;
}



.imagen {
    display: block;
    margin: 0 auto;
    height: 50%;
    padding-top: 25vh;
}