
* {
    margin: 0;
    border-style: hidden;
    overflow: hidden;
    user-select: none;

}


.feedback {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(60, 34, 121, 0.685);
    width: 0;
    height: 0;

}
.imagen {
    position: relative;
    margin: 0;
    padding: 2em;
    height: 50%;
    z-index: 4;

}




.fondo {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-image: url("../../data/img/fondo.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover; 
}

.nombre {
    margin-top: 20px;
}

.apellido {
    margin-top: 40px;
}